.footer{
    @include flex(flex,row,wrap,space-around,top,3%);
    margin-top: 30px;

}
.logo {
    @include flex(flex,row,wrap,center,center,0rem);
}
.redesociales{
    text-align: center;
}
section div h2{
    font-family: $font-h1, cursive;
    font-size: 2rem;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
    background-color: white;
    color: $color-secondary;
    margin: 1.25rem;
}
section div h4{
    font-family: $font-titulos;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
footer section p{
    font-family: $font-titulos;
    color: black;
    background-color: white;
    text-align: center;
}
.logoargentina{
    @include img(75px,75px);
}