.header-logo {
    @include img(100%,100%);
    @include flex(flex,row,wrap,center,center,2rem);
    h1{
    font-family: "Love Ya Like A Sister", cursive;
    text-align: center;
    color: #98c1d9;
    font-size: 6rem;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
    }

        .img-argentina {
            @include img (100px,100px);
    }
        .logomate {
            width: auto;
            height: auto;
            left:5%;
    }

}


.navbar {
    @include flex(flex,row,wrap,center,center,1rem);

    li {
            list-style: none;
            font-family: "Just Another Hand", cursive;
            font-size: 2rem;
            background-color: #98c1d9;
            border-radius: 2.2rem;
            border-style: hidden;
            margin: 0rem;
            padding: 0 0;
            border-style: hidden;
    }
    a {
        display: block;
        padding: 1rem 1.25rem;
        text-decoration: none;
        color: white;
    }
        a:hover {
            background-color: #ee6c4d;
            border-radius: 2.18rem;
        }
}
