@media (max-width: 1024px) {
    .header-logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0%;
    
}
h1{
    font-family: "Love Ya Like A Sister", cursive;
    text-align: center;
    color: #98c1d9;
    font-size: 4rem;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}
header section a img {
    position: relative;
    width: 4rem;
    height: 4rem;
    top: 2rem;
}
.img-argentina {
    display: none;
}
.flexsection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0%;
}
}