@media (max-width: 1024px) {
    .header-logo {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0%;
}
}
@media (max-width: 1024px) {

    header section a img {
        position: relative;
        width: 4rem;
        height: 4rem;
        top: 2rem;
    }
    .logoargentina {
        display: none;
}
    .flexsection{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0%;
}
}