.btn-primary {
    background-color: $color-primary;
    border-color: $color-secondary;
    margin: map-get($button-margins , xl);

}

.btn-secondary {
    background-color: $color-primary;
    border-color: $color-secondary;
    margin: map-get($button-margins , xs);

}