.carousel-inner{
    background-color: $color-secondary;
    width: 50%;
    left: 25%;
    margin: 100px;
    border-radius: 25%;
}
.carousel-control-prev{
    left: 37%;
}
.carousel-control-next{
    left: 60%;
}
.carousel-item{
    left: 30%;
}