.inscripciones {
    text-align: center;
    margin-top: 40px;
}

.inscripcionesform {
    text-align: center;
    margin: 40px;
}

    h2{
        @include title("Open Sans" sans-serif,white,#ee6c4d,center,10px);
            display: inline;
            padding: 8px 20px;
            border-radius: 12px;
}
.form {
    margin-left: 40px;
}

